<!doctype html>
<html>
	<head>
		<%- include nav.ejs %>
		<title>Tweeter</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
		<style>
			body 		{ padding-top:80px; }
			.margin-base-vertical { margin: 40px 0; }
		</style>
	</head>
	<body>
			<div class="header text-center">
				<h1>Welcome to Tweeter!</h1>
			</div>
	</body>
</html>